<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css" >
    <link rel="stylesheet" href="estilo.css">
    <script src="js/bootstrap.bundle.min.js"></script> -->
</head>
<body>
    <nav></nav>
        <div class="container">
            <div class="text-center"><img src="assets/img/logo.png" alt="GeekBox"></div>
            
            <div class="d-flex flex-column justify-content-center align-items-center mt-3">
              <span class="bienvenida"><h1 class="text-center">Bienvenid@</h1></span>
              <div class="amigos text-center mb-3">
                  <img src="assets/img/gente.png" alt="Amigos">
              </div>
              <p class="texto-bienvenida">Tu cuenta ha sido creada con éxito. Explora y disfruta todas las características que GeekBox tiene para ti.</p>
              <a class="btn custom-btn btn-lg mb-3" role="button" href="#" routerLink="/listado-venta-normal">Ver todas las ofertas</a>
              <a class="btn custom-btn2 btn-lg" role="button" href="#" >Publicar una oferta</a>
            </div>
        </div>
        <div class="caja-footer">
            
        <footer><div class="footer-alto"></div></footer>
    </div>
        
</body>
</html>