<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle</title>
</head>
<body>
    <nav></nav>
    <div class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
       
      <a class="align-self-center link-volver" href="#">
        <i class="fas fa-chevron-left"></i> Volver
      </a>
  
      <a class="mx-auto" href="#"><img class="logo" src="assets/img/logo.png" alt="Logo"></a>
  
      <div></div>
     
  </div>
  
        <div class="container">
          
       
          <div class="content">
            <img class="large-img pb-3" src="assets/img/slide1.png" alt="imagen grande">
            <h2 class="title">Libro Ready Player One</h2>
            <h1 class="value">$30.000</h1>
            <p class="text">
              "Ready Player One", una obra maestra de ciencia ficción escrita por Ernest Cline. En un futuro no muy distante, 2044 para ser exactos, la realidad se ha convertido en un lugar desolador. Crisis energética, desempleo, hambruna y desorden prevalecen, y la única vía de escape es un extenso universo virtual conocido como OASIS. Este mundo inmersivo es la creación del brillante y excéntrico James Halliday. Antes de su muerte, Halliday deja su enorme fortuna a quien logre descubrir un "Huevo de Pascua" oculto en algún rincón de este universo de realidad virtual.</p>
        </div>
        
        <div class="footer">
          <div class="profile">
              <img class="avatar" src="assets/img/avatar.png" alt="Avatar">
              <span class="name">Vendido por: nombre</span>
          </div>
          <a class="btn custom-btn3 btn-lg" role="button">Comprar</a>
      </div>
        

</div>
</div>

</div>






        </div>
        <div class="caja-footer">
            
        <footer>
          
          <div class="footer-alto"></div>

        </footer>
    </div>
        
</body>
</html>