<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css" >
    <link rel="stylesheet" href="estilo.css">
    <script src="js/bootstrap.bundle.min.js"></script> -->
</head>
<body>
    <nav></nav>
        <div class="container container-bg">
            <div class="text-center"><img src="assets/img/logo.png" alt="GeekBox"></div>
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="formulario-registro mb-5 pt-5 margin-login">
                    <input type="text" [(ngModel)]="mail" class="form-control mb-5" placeholder="Ingresa tu Nick o Email">
                    <input type="text" [(ngModel)]="password" class="form-control mb-5" placeholder="Ingresa tu contraseña">
                </div>

                <a class="btn custom-btn btn-lg mb-5" role="button" (click)="login()">Ingresar</a>
              </div>
            
            
        </div>
        <div class="caja-footer">
            
        <footer><div class="footer-alto"></div></footer>
    </div>
        
</body>
</html>