<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exito</title>
</head>
<body>
    <nav></nav>
        <div class="container">
            <div class="text-center"><img src="assets/img/logo.png" alt="GeekBox"></div>
            
            <div class="d-flex flex-column justify-content-center align-items-center mt-3">
                <span class="bienvenida"><h1 class="text-center">¡Felicitaciones!</h1></span>
                <div class="amigos text-center mb-3">
                    <img src="assets/img/gente.png" alt="Amigos">
                </div>
                <p class="texto-bienvenida">Tu oferta ha sido subida sin problemas.</p>
                <a class="btn custom-btn btn-lg mb-3" role="button" href="#" routerLink="/listado-venta">Ir al listado de ventas</a>
              </div>
            
            
        </div>
        <div class="caja-footer">
            
        <footer><div class="footer-alto"></div></footer>
    </div>
        
</body>
</html>