/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
/* @import '~@fortawesome/fontawesome-free/css/all.css'; */
nav {
    background: #DE6769;
    height: 10px;
}
footer {
    background: #DE6769;
 
}
.footer-alto{
    height: 25px;
}
body {
    display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.custom-btn {
    background-color: #AE5A94;
    border-radius: 30px; /* Cambia este valor para ajustar cuánto quieres que se redondeen los bordes */
    color: white; /* Cambia esto para el color que quieras para el texto del botón */
    width: 250px;

  }
  .custom-btn2 {
    background-color: #fff;
    border-radius: 30px; /* Cambia este valor para ajustar cuánto quieres que se redondeen los bordes */
    color: #AE5A94; /* Cambia esto para el color que quieras para el texto del botón */
    width: 250px;
    border: #AE5A94 2px solid;

  }
  .caja-footer {
    margin-top: auto;
}
.botones {
    height: 38vh;
}
.formulario-registro {
    width: 300px;
}
.container-bg {
    background: url(assets/img/fondo.png) no-repeat;
    background-position: bottom center;
}
.margin-login {
    margin-top: 250px;
}
.texto-bienvenida {
    width: 300px;
    color: #3D1431;
    font-size: 12px;
    text-align: center;
    margin: 25px 0px 40px 0px;
}
h1 {
    color: #3D1431;
}
.navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -50px; /* 50% of your logo width */
    display: block;
   
  }
  .logo {
    width: 100px;
  }
  .gb-precio {
    font-size: 20px;
  }
  .card-title {
    font-size: 13px;
}
.card-body {
    padding: 10px;
}
.card-text {
    font-size: 12px;
}

.title-link {
    color: #3D1431;
    font-size: 16px;
  }

  .title-link2 {
    color: #3D1431;
    font-size: 14px;
  }
  
  .title-link2 .fa-chevron-right {
    margin-left: 5px;
  }
  
  .title-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .icon-container {
    color: #FFBE55;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0 10px 0px 10;
}

.icon-container i {
    font-size: 2em;
    margin-bottom: 5px;
}

.icon-container a {
    color: #FFBE55;
    text-decoration: none;
}
.flotante {
    position: fixed; 
    bottom: 0;
    z-index: 999;
}
.mb-gbox {
    margin-bottom: 100px;
}