<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css" > -->
    <!-- <link rel="stylesheet" href="estilo.css"> -->
    <!-- <script src="js/bootstrap.bundle.min.js"></script> -->
</head>
<body>
    <nav></nav>
        <div class="container">
            <div class="logo text-center"><img src="../../assets/img/logo.png" alt="GeekBox"></div>
            <div class="d-flex flex-column justify-content-center align-items-center botones">
                <a class="btn custom-btn btn-lg mb-3" role="button" href="#" routerLink="/login">Ingresar</a>
                <a class="btn custom-btn2 btn-lg" role="button" href="#" routerLink="/registro">Crear cuenta</a>
              </div>
            
            
        </div>
        <div class="caja-footer">
            <div class="amigos text-center">
                <img src="../../assets/img/amigos.png" alt="Amigos">
            </div>
        <footer></footer>
    </div>
        
</body>
</html>