<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <nav></nav>
        <div class="container container-bg">
            <div class="text-center"><img src="assets/img/logo.png" alt="GeekBox"></div>
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="formulario-registro mb-5 pt-5">
                    <input type="text" class="form-control mb-3" placeholder="Ingresa tu nombre" [(ngModel)]="persona.cnom">
                    <input type="text" class="form-control mb-3" placeholder="Ingresa tu primer apellido" [(ngModel)]="persona.cprimerApellido">
                    <input type="text" class="form-control mb-3" placeholder="Ingresa tu segundo apellido" [(ngModel)]="persona.csegundoApellido">
                    <input type="text" class="form-control mb-3" placeholder="Ingresa tu email" [(ngModel)]="persona.cemail">
                    <input type="text" class="form-control mb-3" placeholder="Ingresa tu número de teléfono" [(ngModel)]="persona.itelefono">
                    <input type="text" class="form-control mb-3" placeholder="Ingresa tu Rut" [(ngModel)]="persona.crut">
                    <input type="text" class="form-control mb-4" placeholder="Ingresa tu contraseña" [(ngModel)]="persona.cpass">
                </div>

                <a class="btn custom-btn btn-lg mb-5" role="button" (click)="crearUsuario()">Aceptar</a>
              </div>
            
            
        </div>
        <div class="caja-footer">
            
        <footer><div class="footer-alto"></div></footer>
    </div>
        
</body>
</html>