<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css" >
    <link rel="stylesheet" href="estilo.css">
    <script src="js/bootstrap.bundle.min.js"></script> -->
</head>
<body>
    <nav></nav>
        <div class="container container-bg">
            <div class="logo text-center"><img src="../../assets/img/logo.png" alt="GeekBox"></div>
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="formulario-registro mb-5 pt-5">
                    <input type="text" class="form-control mb-5" placeholder="Ingresa tu nombre">
                    <input type="text" class="form-control mb-5" placeholder="Ingresa tu email">
                    <input type="text" class="form-control mb-5" placeholder="Ingresa tu número de teléfono">
                    <input type="text" class="form-control mb-5" placeholder="Ingresa tu Nick">
                    <input type="text" class="form-control mb-5" placeholder="Ingresa tu contraseña">
                    <input type="text" class="form-control mb-5" placeholder="Reingresa tu contraseña">
                </div>

                <a class="btn custom-btn btn-lg mb-5" role="button" href="#" routerLink="/bienvenida">Aceptar</a>
              </div>
            
            
        </div>
        <div class="caja-footer">
            
        <footer></footer>
    </div>
        
</body>
</html>